<!DOCTYPE html>
<html>

<head>
    <title>BUTTERFLY</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/about.css">
    


</head>

<body>
    <%- include('nav.html') %>





        <div class="box">
            <ul id="first-list">
                <li>
                    <span></span>
                    <div class="title"></div>
                    <div class="info">너 포카 어디서 사?</div>
                    <div class="name">- Kim-</div>
                    <div class="time">
                        <span>JUN, 17<sup>th</sup></span>
                        <span>12:00 AM</span>
                    </div>
                </li>
                <li>
                    <span></span>
                    <div class="title"></div>
                    <div class="info">트위터에서 파는거 아니야? 대신 찾기가 힘들어..</div>
                    <div class="name">- Lee -</div>
                    <div class="time">
                        <span>JUN, 29<sup>th</sup></span>
                        <span>11:36 AM</span>
                    </div>
                </li>
                <li>
                    <span></span>
                    <div class="title"></div>
                    <div class="info">버터파이가 있잖아!</div>
                    <div class="name">- park -</div>
                    <div class="time">
                        <span>FEB, 2<sup>nd</sup></span>
                        <span>02:00 PM</span>
                    </div>
                </li>
                <li>
                    <span></span>
                    <div class="title"></div>
                    <div class="info">최애의 사랑스러운 포카를 좀 더 <span id = "bold" > 빠르고 싸게</span> 구입
                        가능해!</div>

                    <div class="name">- park -</div>
                    <div class="time">
                        <span>FEB, 2<sup>nd</sup></span>
                        <span>02:00 PM</span>
                    </div>
                </li>
                <div>

                    <p calss="AboutLowTag">이용하고 싶다면?</p>
                    <i class="bi bi-arrow-down"></i>
                </div>

                <a class="navbar-brand-watermarke" href="/">BUTTERFIY STORE</a>
            </ul>



            <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
                crossorigin="anonymous"></script>

            <!-- Option 2: Separate Popper and Bootstrap JS -->
            <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->

</body>

</html>