<head>
  <link rel="stylesheet" href="/public/nav.css">

</head>


<nav class="navbar-height navbar-expand-lg "  >
    
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="navbar-brand" id="navbarNav" >
      <ul class="nav justify-content-end " >
        <li class="nav-item" >
          <a class="nav-link" href="/about">ABOUT</a> 
          </li>   
        <li class="nav-item" >
          <a class="nav-link"  href="/login">LOGIN</a> 
        </li>             
        <li class="nav-item" >
          <a class="nav-link"  href="/sign_up">JOIN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/qna">Q&A</a> 
            </li>  
        <li class="nav-item" >
          <a href="/mypage">
            <i class="bi bi-person-fill"></i>

          </a>

        </li>
         


          

          
          
          
        </ul>
      </div>
</nav> 

<nav class="navbar-middle bg-body-tertiary" >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">BUTTERFIY STORE</span></a>
        <form class="d-flex" role="search">
          <input class="search-navbar form-control " type="search" placeholder="Search" aria-label="Search">
          
        </form>
      </div>
</nav>   
    
    
<nav class="navbar-bottom navbar-expand-lg bg-body-tertiary nav justify-content-center " style="border:1px solid #e0dcae75; background-color : white;"  >
        
          <ul class="navbar-nav">
            <li class="nav-item" >
              <a class="nav-link-point"  href="/best">BEST</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link"  href="/new">NEW</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link"  href="/poca">아이돌 최애</a>
            </li>
            
            
            <li class="nav-item">
              <a class="nav-link"   href="/scam/add">사기신고</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link"  href="/pocawrite">포카팔기</a>
            </li>
           
          </ul>
       
</nav>









   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">  