<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUTTERFIY</title>
</head>
<body>

    <%- include('nav.html') %>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid-new">
          <span class="navbar-brand mb-3 mt-3 h1" style="color:rgb(100, 99, 99);"  >NEW</span>
        </div>
      </nav>
    

    <%- include('newmodule.ejs') %>

    
</body>
</html>