
    
    <li id="anchorBoxId_10013"  style= "list-style: none;"class="xans-record">
      <div class="thumbnail">
        <div class="prdImg">
          <a
            href=""
            name="anchorBoxName_10013"
            ><img
              src=""
              
              alt=""
          /></a>
        </div>
      </div>
      <% for (var i=0; i<Module.length;i++) { %>
      <div class="description">
        <strong class="name"style ="display: block; border-bottom: 1px solid #ebebeb; padding-bottom: 6px;">
          <a href="<%= `/pocadetail/${Module[i]._id}` %>" class="hit"  ><span class="title displaynone">
            <span id="total"> 조회수 : <%= Module[i].조회수 %> </span>
            <span   style="font-size: 20px; color: #000000; font-weight: bold">
                <%= Module[i].제목 %>

              </span>
            </span></a></strong>
        <ul class="xans-element- xans-product xans-product-listitem-2 xans-product-listitem xans-product-2 spec" style= "list-style: none;">
          <li class="xans-record-">
            <span style="font-size: 15px; color: #000000">
                <%= Module[i].값 %>
            </span>
          </li>
        </ul>
      </div>
   <% }  %>
    </li>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
      
      

      
    $(".hit").on('click',function(){
    


      $.ajax({
        
      method : 'GET',  // 서버에 새로고침 없이 get서버 요청할거얌
       url : '/count',  // 요청 할 경로
       data: 'total'

        //요청과 함께 보낼 데이터 요청 보낼 때 삭제 할 게시물 번호를 함께 전송함.
     }) .done((res)=>{
      console.log(res);

     


    }) 
  }) 

       
   

      


      
       
       // 브라우저 콘솔창에 나오기
       
 
    



      
      
      
      </script>



    


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">


 