
    <li id="anchorBoxId_10013" class="xans-record">
      <div class="thumbnail">
        <div class="prdImg">
          <a
            href="<%='pocadetail/${Module._id}'%>"
            name="anchorBoxName_10013"><img
              src=""
              id="eListPrdImage10013_3"
              alt="슈슈 사선 랩니트(골지/슬림핏)"
          /></a>
        </div>
      </div>
      <div class="description">
        <strong class="name"><a href="" class="shopImage"><span class="title displaynone">
            <span style="font-size: 13px; color: #000000; font-weight: bold">
                <%= Module.제목 %>
              </span>
            </span></a></strong>
        <ul class="xans-element- xans-product xans-product-listitem-2 xans-product-listitem xans-product-2 spec">
          <li class="xans-record-">
            <span style="font-size: 13px; color: #000000">
                <%= Module.값 %>
            </span>
          </li>
        </ul>
      </div>
    </li>

 