<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/pocawrite.css">
    <title>BUTTERFIY</title>

    
</head>
<body>


    <%- include('nav.html') %>

 


    <h1 style="border-bottom:1px solid gray; ">포카등록</h1>
    
    <form class="form-horizontal" action="/addwirte" method="post" enctype="multipart/form-data"> 

        <div class="form-group">
          <label >제목</label>
          <input type="text" class="form-control"  name = "pocatitle">
        </div>
        
        
     <div class="form-group" id="border" >
        <div calss="categorygroup">
                <label class="control-label col-lg-4" for="group"> Category Group</label>
                <div class="col-lg-6">
                    <select name="group" id="group" class="form-control">
            </select>
            </div>
        </div>
            

        <div class="categoryissue">
            <label class="control-label col-lg-4" for="issue">Category Issue</label>
            <div class="col-lg-6">
                <select name="issue" id="issue" class="form-control">
            </select>
            </div>
        </div>

        <div class="categorydetail">
            <label class="control-label col-lg-4" for="detail">Category Detail</label>
            <div class="col-lg-6">
                <select name="detail" id="detail" class="form-control">
            </select>
            </div>
            </div>
                
    </div>   
        
        <div class="form-group">
            <label >가격</label>
            <input type = "text" class="form-control" name="price" placeholder="숫자만 입력">
        </div>
        
        <div class="form-group">
            <label >설명</label>
            <input type = "text" class="form-control" name="explanation" style="height: 100px;" placeholder="상품의 하자 등 필요한 정보는 꼭 작성해주세요">
        </div>
        <div class="form-group">

          <lavel>이미지 등록</lavel> <br>
            <input type="file" name="프로필">

        </div>




        
        <input type="submit" class="btn btn-outline-secondary"  value="저장하기">
        
      </form>
      
      
    <script>

    var groupData = ["-----", "아이돌", "배우"];
    var issueData = {
  "-----": [],
  "아이돌": ["-----", "소녀시대","샤이니","엑소","BTS","스트레이키즈","NCT","더보이즈","세븐틴","에스파","아이브","르세라핌","뉴진스","스테이씨"],
  "배우": ["-----","이민호","이종석","송강","김영대"]
  
};
var detailData = {
  "-----": [],
  "소녀시대": [],
  "샤이니": [],
  "엑소": [],
  "BTS": [],
  "스트레이키즈": [],
  "NCT": [],
  "더보이즈": [],
  "세븐틴": [],
  "에스파": [],
  "아이브": [],
  "르세라핌": [],
  "뉴진스": [],
  "스테이씨": [],
  "이민호": [],
  "이종석": [],
  "송강": [],
  "김영대": [],

 

};

var $group = $("#group");
var $issue = $("#issue");
var $detail = $("#detail");

function newIssue(selected) {
  $issue.empty();
  $.each(issueData[selected], function(index, value) {
    $issue.append("<option>" + value + "</option>");
  });
}

function newDetail(selected) {
  $detail.empty();
  console.log("Selected Issue: " + selected);
  $.each(detailData[selected], function(index, value) {
    $detail.append("<option>" + value + "</option>");
  });
}

$(document).ready(function() {
  $.each(groupData, function(index, value) {
    $group.append("<option>" + value + "</option>");
  });

  $group.change(function() {
    var selected = $(this).find('option:selected').val();
    newIssue(selected);
  });
  $issue.change(function() {
    var selected = $(this).find('option:selected').val();
    newDetail(selected);
  });
});



        </script>
      


    




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>