<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/loginInterface.css">
    <title>BUTTERFIY</title>
</head>
<body>

  
    <div class="login-box">
        <h2>JOIN</h2>
        <form action="/sign" method="post" onsubmit="return check();">
          <div class="user-box">
            <input type="text" name="name" id = "text" placeholder="자신의 이름을 적어주세요" maxlength="10" minlength="2">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="text" name="Email" id="text" placeholder="@이까지 써주세요">
            <label>Email</label>
          </div>
          <div class="user-box">
            <input type="text" name="id" id="text" required="" >
            <label>ID</label>
          </div>
          <div class="user-box">
            <input type="password" name="pw" id="text" placeholder="4자이상 16자 이하까지 작성해주세요" maxlength="16" minlength="4">
            <label>Password</label>
          </div>
          <input type = "submit" id = "submitinput"value = "SUBMIT">
          
        </form>
      </div>
      <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
      <script>
       


       function check(){
        var Email = $("input[name=Email]").val();
        var id = $("input[name=id]").val();
        var Id=/^[a-zA-z0-9]{4,12}$/
        var email = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;

        if(!Id.test(id)){
          alert("아이디는 영문 대소문자 4~12자리로 입력하세요");
          return false;

        }
        if(!email.test(Email)){
          alert("이메일 양식이 틀렸습니다 다시 입력해주세요.");
          return false;
        }
      
         
      
       }
      
       
//        그냥 태그에 아이디 또는 클래스만 주고

// js파일에서

// "use strict";

// const btn_main = $(".main_btn");

// btn_main.click(function () {
//   location.assign("/main", {});
// });
       

       



      </script>

    

    




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>


    


