nav .bestBox{
    margin :auto;
    width: 0;
    color:rgb(100, 99, 99);

}

.navbar .navbar-brand{
    color:rgb(100, 99, 99);
    padding-top: 20px;
    padding-bottom: 0.8rem;
    margin-right: 1rem;
    font-weight: 500;
    font-size : 19px;
}