.navbar-height{
    background-color: #FBF8B4;
    width : 100%
}

.navbar-height .navbar-brand{
    width:100%; 
    height:42px;
}

.navbar-height .navbar-brand .nav-item .nav-link{
    font-size: 4mm; 
    color:rgb(255 206 196); 
    line-height:1;
}

.navbar-height .navbar-brand .nav-item .bi{
    color: rgb(238, 191, 182);
}

.navbar-middle{
    height: 150px;
     background-color: white;
}

.navbar-middle .navbar-brand{
    font-size:30px; 
    font-weight: 900; 
    margin-left : 540px;
    margin-top:50px;
  
}
.navbar-middle .search-navbar{
    border-radius : 10px; 
    height: 30px;
    width:auto;
    margin-top : -43px;
    position: absolute;
    right: 7%;
}

.navbar-bottom .navbar-nav .nav-item .nav-link{
    color:rgba(56, 54, 54, 0.87); 

}

.navbar-bottom .navbar-nav .nav-item .nav-link-point{
    color:rgba(15, 15, 15, 0.87); 
    font-weight:500;
    padding: 0.5rem 1rem;
    display: block;
}


