.nav{
    display: flex;
    justify-content:center;
}



.nav .nav-link{
   

    color:rgba(128, 128, 128, 0.803);
    

}

.nav .nav-item .categoryNavlink{
    border : none;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 0.8rem;
    
}