.write-submit-btn{
    float:right;
}

.write-btn{
    display: flex;
  justify-content: right;
  margin-top:10px;
}

.write-btn .write-submit-btn{
    border: none ;
    background-color:#373737; 
    color:#fff;
    width: 100px;
    height: 35px;
    border-radius : 2px;
    margin-right:10px;
}

.write-btn .write-qna-btn{
    border:none;
    background-color:#555555d7; 
    color:#fff;
    width: 100px;
    height: 35px;
    border-radius : 2px;
    margin-right:10px;
}