html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#FFEBB8, #FFEBB8);
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 30px 40px;
    transform: translate(-50%, -50%);
    background: rgb(245 222 179);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(254 253 236);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: rgb(92, 89, 28);
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(206, 180, 180);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(39, 36, 36);
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #adaa4b;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #adaa4b;
    font-size: 12px;
  }
  
  #submitinput {
    
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: 	#726e22;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    letter-spacing: 4px;
    background-color:transparent;
    border:none;
  }
  
  #submitinput:hover {
    background: #d6d25e;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px  #F1EC72,
                0 0 25px #F1EC72,
                0 0 50px #F1EC72,
                0 0 100px #F1EC72;
  }
  

  .text--center{
 
  float:left;
  margin-top:20px;
  
 
  }

