#border{
    border-bottom: 1px solid rgba(182, 178, 178, 0.836);
    
    
  }

  #pocawrite-title{
    border-bottom:1px solid rgb(171, 166, 166);
    display: flex;
    justify-content:center;

  }

  #file-warring{
    color : red;
    font-weight: 500;
    

  }